In [11]:
import requests
import json
import pandas as pd

In [12]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
players = pd.DataFrame(json.loads(response.text)['elements'])
teams = pd.DataFrame(json.loads(response.text)['teams'])

In [13]:
players = players.merge(teams, left_on='team', right_on='id')

In [14]:
players_simple = (players[['web_name', 'name', 'element_type', 'now_cost', 'minutes']]
                  .rename(columns={'name': 'team', 'element_type': 'pos'}))

In [15]:
players_simple

       web_name     team  pos  now_cost  minutes
0         Xhaka  Arsenal    3        50     1616
1        Elneny  Arsenal    3        41      111
2       Holding  Arsenal    2        42       16
3        Partey  Arsenal    3        47     1392
4      Ødegaard  Arsenal    3        69     1522
..          ...      ...  ...       ...      ...
728       Cunha   Wolves    4        55      132
729      Lemina   Wolves    3        45       83
730     Sarabia   Wolves    3        55       45
731     Bentley   Wolves    1        40        0
732  João Gomes   Wolves    3        45        0

[733 rows x 5 columns]

In [16]:
players_simple['name'] = players.first_name + ' ' + players.second_name

In [17]:
players_simple = players_simple[['name', 'web_name', 'team', 'pos', 'now_cost', 'minutes']]

In [18]:
players_simple.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 733 entries, 0 to 732
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      733 non-null    object
 1   web_name  733 non-null    object
 2   team      733 non-null    object
 3   pos       733 non-null    int64
 4   now_cost  733 non-null    int64
 5   minutes   733 non-null    int64
dtypes: int64(3), object(3)
memory usage: 40.1+ KB

In [19]:
# relace team names with common issues
players_simple['team'] = players_simple.team.replace({
            'Spurs': 'Tottenham',
            "Nott'm Forest": 'Nottm Forest'
})

In [20]:
players_simple.to_pickle('../data/current_fpl_costs.pkl')