In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome('/usr/local/bin/chromedriver')

/var/folders/2r/ws5w94055xdfk6l_4nmkx4g40000gq/T/ipykernel_4500/3545715976.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/usr/local/bin/chromedriver')

In [3]:
top_scorers_url = 'https://www.bettingodds.com/football/premier-league/top-scorer'
driver.get(top_scorers_url)

In [5]:
def close_popup_if_exists():
    try: 
        driver.find_element('class name', 'close-modal').click()
    except: 
        pass

In [7]:
close_popup_if_exists()

In [8]:
driver.execute_script("arguments[0].scrollIntoView();", driver.find_element('class name', 'ot-view-more'))

In [9]:
driver.find_element('class name', 'ot-view-more').click()

In [11]:
players = []
odds = []
for row in driver.find_elements('class name', 'results-row'):
    odds_grid = row.find_element('class name', 'grid-odds-list').find_elements('tag name', 'li')
    for odds_val in odds_grid:
        if odds_val.get_attribute('data-runner'):
            players.append(odds_val.get_attribute('data-runner'))
            odds.append(odds_val.get_attribute('data-decimal'))

In [19]:
top_scorers = pd.DataFrame(zip(players, odds), columns=['player', 'odds'])
top_scorers['odds'] = top_scorers['odds'].astype('float')

In [21]:
top_scorers = (
    top_scorers[top_scorers.player != 'Each Way Terms']
        .groupby('player')['odds']
        .mean()
        .reset_index()
        .sort_values('odds')
 )

In [22]:
top_scorers

               player       odds
33     Erling Haaland    2.22125
65      Mohamed Salah    5.61250
38         Harry Kane    7.62500
23       Darwin Nunez   10.37500
3      Anthony Elanga   12.62500
..                ...        ...
17  Christian Eriksen  163.25000
39      Harvey Barnes  163.37500
30       Eberechi Eze  175.50000
20     Daniel Podence  185.25000
46  James Ward-Prowse  232.12500

[89 rows x 2 columns]